<div class="mx-auto w-full md:w-1/3 md:shadow-lg p-4">

    <h2 class="text-3xl text-center mb-4">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="flex flex-wrap">
            <div class="field w-full md:w-1/2 md:pr-2">
                <%= f.label :first_name %><br/>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
            </div>

            <div class="field w-full md:w-1/2 md:pl-2">
                <%= f.label :last_name %><br/>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
            </div>
        </div>

        <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions flex justify-center mb-8">
            <%= f.submit "Sign up", class: "btn w-full hover:bg-blue-400 bg-transparent text-blue-400 hover:text-white border-blue-400" %>
        </div>
    <% end %>

    <div class="flex justify-center text-center">
        <%= render "devise/shared/links" %>
    </div>

</div>