<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
    <thead>
    <tr>
        <th>Body</th>
        <th>User</th>
        <th>Post</th>
        <th>Publication date</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @comments.each do |comment| %>
        <tr>
            <td><%= comment.body %></td>
            <td><%= comment.user %></td>
            <td><%= comment.post %></td>
            <td><%= comment.publication_date %></td>
            <td><%= link_to 'Show', comment %></td>
            <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
            <td><%= link_to 'Destroy', comment, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
