<p id="notice"><%= notice %></p>

<p>
    <strong>Body:</strong>
    <%= @comment.body %>
</p>

<p>
    <strong>User:</strong>
    <%= @comment.user %>
</p>

<p>
    <strong>Post:</strong>
    <%= @comment.post %>
</p>

<p>
    <strong>Publication date:</strong>
    <%= @comment.publication_date %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
