<div class="mx-auto w-full md:w-1/3 md:shadow-lg p-4">

  <h2 class="text-3xl text-center mb-4">Log in</h2>

  <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="field flex justify-center">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end %>

  <div class="actions flex justify-center mb-8">
    <%= f.submit "Log in", class: "btn w-full hover:bg-blue-400 bg-transparent text-blue-400 hover:text-white border-blue-400" %>
  </div>
  <% end %>

  <div class="flex justify-center text-center">
    <%= render "devise/shared/links" %>
  </div>

</div>