@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

label {
    @apply text-gray-700;
}

input:not([type=checkbox]):not(.btn), textarea, select {
    @apply border border-gray-300 rounded py-2 px-4 w-full appearance-none leading-normal;
}

.field {
    @apply mb-4;
}

.btn {
    @apply inline-block px-4 py-2 leading-none border rounded;
}

.link {
    @apply inline-block border-b border-transparent;
}