<%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
                <% post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :extract %>
        <%= form.text_area :extract %>
    </div>

    <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
    </div>

    <div class="field">
        <%= form.label :cover %>
        <%= form.file_field :cover %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
