<% if notice %>
    <p id="notice" class="p-4"><%= notice %></p>
<% end %>

<% @posts.each do |post| %>
    <article class="rounded shadow-lg flex flex-row flex-wrap mb-16">
        <%= image_tag post.cover.thumb_square.url, class: 'object-cover object-center rounded-l w-full md:w-1/3', style: 'max-height:20rem' %>
        <div class="flex flex-col p-4 w-full md:w-2/3 justify-around">
            <div class="flex flex-row justify-between w-full mb-8">
                <h2 class="text-2xl font-bold inline-block"><%= link_to post.title, post, class: 'link text-blue-400 hover:border-blue-400' %></h2>
                <span class="p-4">by <%= link_to post.user.full_name, post.user, class: 'link text-blue-400 hover:border-blue-400' %>
                    on <%= post.publication_date.strftime("%m/%d/%Y %H:%M") %></span>
            </div>
            <p class="p-4"><%= post.extract %></p>
            <div class="flex flex-row justify-end">
                <%= link_to 'Read more', post, class: 'btn border-blue-500 text-blue-500 hover:border-white hover:bg-blue-500 hover:text-white ml-4' %>
                <% if user_signed_in? && current_user.id == post.user.id %>
                    <span><%= link_to 'Edit', edit_post_path(post), class: 'btn border-orange-500 text-orange-500 hover:border-white hover:bg-orange-500 hover:text-white ml-4' %></span>
                    <span><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn border-red-500 text-red-500 hover:border-white hover:bg-red-500 hover:text-white ml-4' %></span>
                <% end %>
            </div>
        </div>
    </article>
<% end %>

<% if user_signed_in? %>
    <%= link_to 'Write a new post', new_post_path, class: 'btn border-blue-500 text-blue-500 hover:border-white hover:bg-blue-500 hover:text-white' %>
<% end %>