<h1 class="text-3xl font-bold mb-8">New Post</h1>

<section class="mb-16">
    <%= render 'form', post: @post %>
</section>

<section class="mb-8">
    <%= link_to 'Back', posts_path, class: 'btn border-blue-500 text-blue-500 hover:border-white hover:bg-blue-500 hover:text-white ml-4' %>
</section>
