<p id="notice"><%= notice %></p>

<article class="rounded shadow-lg flex flex-col mb-16">
    <div class="rounded w-full relative">
        <%= image_tag @post.cover.url, class: 'object-cover object-center rounded-t w-full', style: 'max-height:26rem; filter:brightness(50%)' %>
        <div class="absolute top-0 left-0 p-8">
            <h2 class="text-6xl font-bold text-white"><%= @post.title %></h2>
            <span class="p-4 text-white">by <%= link_to @post.user.full_name, @post.user, class: 'link text-blue-400 hover:border-blue-400' %>
                on <%= @post.publication_date.strftime("%m/%d/%Y %H:%M") %></span>
        </div>
    </div>
    <div class="flex flex-col w-full mb-8">
        <p class="p-8 mt-4 w-full overflow-hidden"><%= @post.body %></p>
    </div>
</article>

<section class="w-full mx-auto md:w-1/2 mb-16">
    <% @post.comments.each do |comment| %>
        <article class="flex flex-col rounded shadow-md bg-blue-100 mb-4">
            <div class="flex flex-row justify-between p-4 border-b border-blue-200">
                <h3 class="font-bold inline-block"><%= link_to comment.user.full_name, comment.user, class: 'link text-blue-400 hover:border-blue-400' %></h3>
                <span><%= comment.publication_date.strftime("%m/%d/%Y %H:%M") %></span>
            </div>
            <p class="p-4"><%= comment.body %></p>
            <% if user_signed_in? && current_user.id == comment.user.id %>
                <div class="text-right p-4">
                    <%= link_to 'Destroy', comment, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn ml-2' %>
                </div>
            <% end %>
        </article>
    <% end %>
</section>

<section class="mb-8 mx-auto w-full md:w-1/2">
    <% if user_signed_in? %>
        <h2 class="text-2xl font-bold px-4 mb-4">Post a comment...</h2>

        <%= render 'commentform', comment: @comment %>
    <% end %>
</section>

<section class="mb-8">
    <%= link_to 'Back', posts_path, class: 'btn border-blue-500 text-blue-500 hover:border-white hover:bg-blue-500 hover:text-white ml-4' %>
    <% if user_signed_in? && current_user.id == @post.user.id %>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn border-orange-500 text-orange-500 hover:border-white hover:bg-orange-500 hover:text-white ml-4' %>
    <% end %>
</section>

