<!DOCTYPE html>
<html>

<head>
  <title>RubyGdata</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag    'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6 shadow-lg mt-4 mb-16">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight ml-4">RuBYGdata</span>
    </div>
    <div class="block lg:hidden">
      <button
        class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <%= link_to 'Posts', posts_path, class: "link text-white hover:border-white" %>
      </div>
      <div class="flex flex-row justify-around items-center">
        <% if user_signed_in? %>
        <span class="mr-4 text-white">
          Welcome, <%= current_user.first_name %>
        </span>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn bg-transparent hover:bg-white text-white hover:text-blue-500 hover:border-transparent" %>
        <% else %>
        <%= link_to 'Login', new_user_session_path, class:"btn bg-transparent hover:bg-white text-white hover:text-blue-500 hover:border-transparent" %>
        <% end %>
      </div>
    </div>
  </nav>
  </header>

  <main class="container mx-auto">
    <%= yield %>
  </main>

</body>

</html>